# Copy this file to .env and update the values below

# Application Settings
APP_NAME=Lavalust
APP_KEY=17b5d04481226e8ac93ae545b6a5ef0a47ca67371fe6df9844fc87e33f5170cd
APP_ENV=development

# Database Configuration
DB_DRIVER=mysql
DB_HOST=lab4lava-andreamacagaling-d961.d.aivencloud.com
DB_PORT=22992
DB_USERNAME=avnadmin
DB_PASSWORD=AVNS_7pglBFYi6VwueUe1B9B
DB_NAME=mydb
DB_CHARSET=utf8mb4
DB_PREFIX=
